In [1]:
import pandas as pd
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
from pyspark.sql.functions import collect_set, collect_list, lit, sum, udf, concat_ws, col, count, abs, date_format, \
    from_utc_timestamp, expr, min, max
from pyspark.sql.functions import col, udf, size
from pyspark.sql.types import *
from pyspark.sql import functions as F
from pyspark.sql import Window
from pyspark.sql.functions import explode, posexplode

In [2]:
spark

In [84]:
OUTPUT_PATH: str = os.environ[
    "OUTPUT_PATH"
] if "OUTPUT_PATH" in os.environ else os.path.join("output")
BASE_DIR: str = os.path.join(OUTPUT_PATH, "globo")
DATASET_DIR: str = os.path.join(OUTPUT_PATH, "globo", "dataset")

BASE_DATASET_FILE : str = os.path.join(OUTPUT_PATH, "globo", "archive", 'clicks', 'clicks', '*.csv')

    
df = spark.read.csv(BASE_DATASET_FILE, header=True, inferSchema=True)

In [85]:
df.count()

2988181

In [86]:
df.printSchema()

root
 |-- user_id: integer (nullable = true)
 |-- session_id: long (nullable = true)
 |-- session_start: long (nullable = true)
 |-- session_size: integer (nullable = true)
 |-- click_article_id: integer (nullable = true)
 |-- click_timestamp: long (nullable = true)
 |-- click_environment: integer (nullable = true)
 |-- click_deviceGroup: integer (nullable = true)
 |-- click_os: integer (nullable = true)
 |-- click_country: integer (nullable = true)
 |-- click_region: integer (nullable = true)
 |-- click_referrer_type: integer (nullable = true)

In [87]:
df = df.withColumnRenamed("session_id", "SessionID")\
    .withColumnRenamed("click_timestamp", "Timestamp_")\
    .withColumnRenamed("click_article_id", "ItemID")\
    .withColumn("Timestamp",F.from_unixtime(col("Timestamp_")/lit(1000)).cast("timestamp"))\
    .orderBy(col('Timestamp')).select("SessionID", "ItemID", "Timestamp", "Timestamp_")

In [88]:
df.show(1)

+----------------+------+-------------------+-------------+
|       SessionID|ItemID|          Timestamp|   Timestamp_|
+----------------+------+-------------------+-------------+
|1506826329267796|234853|2017-10-01 00:00:00|1506826800026|
+----------------+------+-------------------+-------------+
only showing top 1 row

In [89]:
df.printSchema()

root
 |-- SessionID: long (nullable = true)
 |-- ItemID: integer (nullable = true)
 |-- Timestamp: timestamp (nullable = true)
 |-- Timestamp_: long (nullable = true)

In [90]:
1506826800026
1549033933

1549033933

In [99]:
df.orderBy(col('Timestamp'), ascending=False).filter(col('Timestamp') < '2017-10-16 24:59:59').show(100)

+----------------+------+-------------------+-------------+
|       SessionID|ItemID|          Timestamp|   Timestamp_|
+----------------+------+-------------------+-------------+
|1508205226121508| 36162|2017-10-16 23:59:58|1508205598971|
|1508204554122178|277107|2017-10-16 23:59:56|1508205596794|
|1508205596265651|177442|2017-10-16 23:59:56|1508205596210|
|1508204173113977|211442|2017-10-16 23:59:55|1508205595299|
|1508204800214313| 36162|2017-10-16 23:59:55|1508205595791|
|1508204950581387| 70758|2017-10-16 23:59:52|1508205592460|
|1508205520266626| 36162|2017-10-16 23:59:51|1508205591160|
|1508205185244493|234978|2017-10-16 23:59:51|1508205591283|
|1508205557313642|202370|2017-10-16 23:59:49|1508205589408|
|1508203589203632|224730|2017-10-16 23:59:48|1508205588280|
|1508205442291596| 36162|2017-10-16 23:59:46|1508205586031|
|1508204438162127|315104|2017-10-16 23:59:46|1508205586181|
|1508205084221452|266024|2017-10-16 23:59:45|1508205585360|
|1508203661116684| 30760|2017-10-16 23:59:45|1508205585265|
|1508205462121606|156279|2017-10-16 23:59:42|1508205582979|
|1508205549262639| 16346|2017-10-16 23:59:39|1508205579125|
|1508205548135637|211442|2017-10-16 23:59:39|1508205579695|
|1508205289387549|211442|2017-10-16 23:59:39|1508205579111|
|1508205056115431|271859|2017-10-16 23:59:39|1508205579848|
|1508205340306568|224730|2017-10-16 23:59:38|1508205578984|
|1508203044128316|211442|2017-10-16 23:59:37|1508205577236|
|1508204417204124|156279|2017-10-16 23:59:36|1508205576015|
|1508204452351139|234308|2017-10-16 23:59:36|1508205576624|
|1508204233248006| 50644|2017-10-16 23:59:34|1508205574766|
|1508205094177457|159452|2017-10-16 23:59:33|1508205573056|
|1508205527242632| 36162|2017-10-16 23:59:32|1508205572725|
|1508204179201979|277107|2017-10-16 23:59:32|1508205572014|
|1508205490692613|168416|2017-10-16 23:59:32|1508205572330|
|1508204352359092|209122|2017-10-16 23:59:31|1508205571378|
|1508204482507153|156279|2017-10-16 23:59:31|1508205571036|
|1508205123672467|255683|2017-10-16 23:59:30|1508205570135|
|1508205226121508| 70758|2017-10-16 23:59:28|1508205568971|
|1508205481332612|277107|2017-10-16 23:59:27|1508205567272|
|1508200365243537|234481|2017-10-16 23:59:26|1508205566941|
|1508204173113977|107299|2017-10-16 23:59:25|1508205565299|
|1508205415408586|242282|2017-10-16 23:59:25|1508205565392|
|1508205444293599|224730|2017-10-16 23:59:25|1508205565789|
|1508205278320544| 30955|2017-10-16 23:59:25|1508205565728|
|1508205246314523|211722|2017-10-16 23:59:24|1508205564434|
|1508205246101524| 42401|2017-10-16 23:59:24|1508205564979|
|1508192874367273|209122|2017-10-16 23:59:24|1508205564619|
|1508205334281565| 50644|2017-10-16 23:59:22|1508205562421|
|1508205185244493|224730|2017-10-16 23:59:21|1508205561283|
|1508205520266626|209122|2017-10-16 23:59:21|1508205561160|
|1508205473132610|156279|2017-10-16 23:59:20|1508205560587|
|1508204207128990|277107|2017-10-16 23:59:20|1508205560842|
|1508203589203632|207603|2017-10-16 23:59:18|1508205558280|
|1508205538172634|209122|2017-10-16 23:59:17|1508205557763|
|1508205507274621|315104|2017-10-16 23:59:16|1508205556502|
|1508204438162127| 70240|2017-10-16 23:59:16|1508205556181|
|1508205235335516| 73506|2017-10-16 23:59:16|1508205556474|
|1508204893349360| 16346|2017-10-16 23:59:16|1508205556282|
|1508203661116684|206415|2017-10-16 23:59:15|1508205555265|
|1508199783426145|352979|2017-10-16 23:59:12|1508205552417|
|1508205462121606| 36162|2017-10-16 23:59:12|1508205552979|
|1508198801334371|342083|2017-10-16 23:59:11|1508205551113|
|1508205477384611| 79851|2017-10-16 23:59:11|1508205551579|
|1508205502343618| 16346|2017-10-16 23:59:11|1508205551780|
|1508204408842114|353415|2017-10-16 23:59:10|1508205550045|
|1508205289387549| 70758|2017-10-16 23:59:09|1508205549111|
|1508205549262639| 16667|2017-10-16 23:59:09|1508205549125|
|1508205517267623|284209|2017-10-16 23:59:07|1508205547463|
|1508204452351139|209122|2017-10-16 23:59:06|1508205546624|
|1508205244409522|  3784|2017-10-16 23:59:06|1508205546655|
|1508205453319605|277107|2017-10-16 23:59:06|1508205546762|
|1508205300175555|156279|2017-10-16 23:59:05|1508205545259|
|1508205286412546|211442|2017-10-16 23:59:05|1508205545375|
|1508205465265608|211442|2017-10-16 23:59:04|1508205544876|
|1508202761198146| 42401|2017-10-16 23:59:04|1508205544007|
|1508205527242632|205824|2017-10-16 23:59:02|1508205542725|
|1508204179201979|161512|2017-10-16 23:59:02|1508205542014|
|1508205452135602| 36162|2017-10-16 23:59:02|1508205542009|
|1508205490692613| 36162|2017-10-16 23:59:02|1508205542330|
|1508204482507153|161526|2017-10-16 23:59:01|1508205541036|
|1508205418291589|199437|2017-10-16 23:59:01|1508205541539|
|1508205123672467| 79851|2017-10-16 23:59:00|1508205540135|
|1508205495325617|209122|2017-10-16 23:58:59|1508205539775|
|1508201570908331|107065|2017-10-16 23:58:58|1508205538518|
|1508203728361738|156279|2017-10-16 23:58:58|1508205538142|
|1508205423591590|156279|2017-10-16 23:58:58|1508205538292|
|1508205277288542|234481|2017-10-16 23:58:57|1508205537270|
|1508205481332612|234481|2017-10-16 23:58:57|1508205537272|
|1508204878414350|288942|2017-10-16 23:58:55|1508205535538|
|1508205444293599| 36162|2017-10-16 23:58:55|1508205535789|
|1508205415408586|199475|2017-10-16 23:58:55|1508205535392|
|1508192874367273| 70758|2017-10-16 23:58:54|1508205534619|
|1508196359373506|234481|2017-10-16 23:58:54|1508205534017|
|1508205246314523|211442|2017-10-16 23:58:54|1508205534434|
|1508205334281565| 70986|2017-10-16 23:58:52|1508205532421|
|1508205473132610|211442|2017-10-16 23:58:50|1508205530587|
|1508205453214604|298562|2017-10-16 23:58:48|1508205528789|
|1508204829125324| 16346|2017-10-16 23:58:48|1508205528328|
|1508204893349360| 36385|2017-10-16 23:58:46|1508205526282|
|1508205507274621|234308|2017-10-16 23:58:46|1508205526502|
|1508205235335516| 70240|2017-10-16 23:58:46|1508205526474|
|1508205444328598| 70986|2017-10-16 23:58:46|1508205526472|
|1508205415408586|243304|2017-10-16 23:58:41|1508205521484|
|1508205502343618|209122|2017-10-16 23:58:41|1508205521780|
|1508205201176497| 50644|2017-10-16 23:58:41|1508205521100|
|1508205477384611|202370|2017-10-16 23:58:41|1508205521579|
+----------------+------+-------------------+-------------+
only showing top 100 rows

In [91]:
df.select(min(col('Timestamp')), max(col('Timestamp'))).show()

+-------------------+-------------------+
|     min(Timestamp)|     max(Timestamp)|
+-------------------+-------------------+
|2017-10-01 00:00:00|2017-11-13 18:04:14|
+-------------------+-------------------+

In [92]:
max_timestamp = df.select(max(col('Timestamp'))).collect()[0]['max(Timestamp)']
max_timestamp

datetime.datetime(2017, 11, 13, 18, 4, 14)

In [93]:
from datetime import datetime, timedelta

init_timestamp = max_timestamp - timedelta(days = 16 )
init_timestamp

datetime.datetime(2017, 10, 28, 18, 4, 14)

In [11]:
_df = df.filter(col('Timestamp') >= init_timestamp).cache()

In [12]:
_df.count()

2811894

In [9]:
df_train = pd.read_csv('/media/workspace/triplet_session/output/yoochoose/dataset/train_0.01_test=random_42_none_SessionInteractionDataFrame_AvailableItems____None_7a340ca010.csv')
df_train.shape

(812394, 7)

In [10]:
df_train.head()

,SessionID,Timestamp,ItemID,Category,ItemIDHistory,AvailableItems,visit
0,171168,2014-04-01 00:00:32.610,214820231,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 214594678]","[214834980, 214658280, 214552492, 214832383, 2...",1
1,389654,2014-04-01 00:00:48.736,214587557,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 214826705]","[214507408, 214631735, 214730518, 214600479, 2...",1
2,375257,2014-04-01 00:01:03.866,214582935,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 214644307]","[214674857, 214559019, 214555277, 214694756, 2...",1
3,263073,2014-04-01 00:01:07.619,214716982,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 214716982]","[214544936, 214691248, 214836997, 214692718, 2...",1
4,345618,2014-04-01 00:01:15.896,214705119,0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 214687685]","[214552162, 214669867, 214708018, 214586910, 2...",1

In [14]:
df_item_s = df_session[['ItemID']].drop_duplicates()
df_item_s.shape

(7004, 1)

In [12]:
df_item_t = df_train[['ItemID']].drop_duplicates()
df_item_t.shape

(19945, 1)