In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
from collections import defaultdict
from tqdm import tqdm
import matplotlib.pyplot as plt
import numpy as np
sns.set_theme(style="ticks")

#https://github.com/qpwo/pySCF
from social_choice.profile import Profile#, ballot_box, plurality

#https://github.com/djcunningham0/rankaggregation
import rankaggregation as ra

# Read Submission

In [2]:
base_path      = '/media/workspace/triplet_session/output/evaluation/MLEvaluationTask/results/'

f_coocorrence  = "SupervisedModelTraining____mars_gym_model_b____897c16bdda_e9e8f6c31f_sub_True"
f_most_popular = "SupervisedModelTraining____mars_gym_model_b____897c16bdda_0af6565550_sub_True"
f_model        = "SupervisedModelTraining____mars_gym_model_b____897c16bdda_16757b9460_sub_True"

files          = [f_model, f_coocorrence, f_most_popular]
model_names    = ["model", 'coocorrence', 'most_popular']

In [3]:

df_sub = {}
for i in range(len(files)):
    path = files[i]+'/submission_{}.csv'.format(files[i].split("/")[-1])
    _df   = pd.read_csv(path, header=None)
    df_sub[model_names[i]] = _df

df_sub.keys()

dict_keys(['model', 'coocorrence', 'most_popular'])

In [4]:
df_sub['model'].head()

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1361154,1647194,455802,1154325,652718,400496,1748830,1283430,1786148,87559,...,1391684,411840,696038,601148,1536987,1490248,1287345,1262562,1495298,1701356
1,855886,669717,1230986,1139450,1119845,378092,1771494,1400981,1513882,17610,...,1627337,1627317,1627229,1627170,1627151,1628108,1628190,162892,1628585,1628863
2,999983,1628836,1629732,1629679,1629645,1629617,1629612,1629606,1629568,1629558,...,1628711,1628699,1628695,1628617,1628585,1628567,1628499,1628496,1628484,1628466
3,999983,1628836,1629732,1629679,1629645,1629617,1629612,1629606,1629568,1629558,...,1628711,1628699,1628695,1628617,1628585,1628567,1628499,1628496,1628484,1628466
4,1587422,588326,966428,1114176,2074864,928548,1768844,1813877,1039554,1539366,...,1448314,1571812,888795,902709,517255,528136,1707797,1147728,711508,7233

In [5]:
df_sub.keys()

dict_keys(['model', 'coocorrence', 'most_popular'])

## Ranked

In [6]:
# import itertools
# import numpy as np
# from collections import OrderedDict

# # list(df_sub.keys())
# def get_list(df_sub, uid, models = []):
#     return list(OrderedDict.fromkeys(list(itertools.chain(*[list(df_sub[k].iloc[uid].values) 
#                                                  for k in models]))))

# candidates = get_list(df_sub, 0, ['model', 'coocorrence', 'most_popular'])
# candidates

In [ ]:
def get_rerank(reclist, type = 'instant_runoff'):
    if type == 'instant_runoff':
        return agg.instant_runoff(ballots)
    elif type == 'borda':
        l = agg.borda(ballots)
    elif type == 'dowdall':
        l = agg.dowdall(ballots)
    elif type == 'average_rank':
        l = agg.average_rank(ballots)
    
    return [i[0] for i in l]

agg = ra.RankAggregator()

In [7]:

methods = ['instant_runoff', 'borda', 'dowdall', 'average_rank']

for kind_rerank in methods:

    reranked_list = []
    for uid in tqdm(range(len(df_sub['model']))):
        ballots  = [list(df_sub[k].iloc[uid].astype(str).values) for k in model_names]
        reranked = list(np.array(get_rerank(ballots, kind_rerank)).astype(int))[:10]
        reranked_list.append(reranked)

np.savetxt('data/final_submission_{}.csv'.format(kind_rerank), reranked_list, fmt='%i', delimiter=',')

100%|██████████| 1000/1000 [01:02<00:00, 15.89it/s]